@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NewAmsterdam";
  src: url('./fonts/NewAmsterdam-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RubikMono";
  src: url('./fonts/RubikMonoOne-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}